body {
    background-image: url("../images/background.jpg");
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size:20px;
}

.container {
    margin: 0;
}

.row {
    margin: 10px 10px 10px 0px;
}

h1 {
    float:right;
    font-size:25px;
}

img {
    background:white;
    border: 3px solid green;
    height:150px;
    width:200px;
    padding:20px;
}

.name {
    color:black;
    text-shadow: none;
    font-size: 15px;
    top: .1%;
    right:35%;
    position: absolute;
}

#yodaname {
    right:45%;
}

#bobaname {
    right:40%;
}

.health {
    /* color:black;
    text-shadow: none; */
    font-size: 15px;
    bottom: 0;
    right:46%;
    position: absolute;
    margin:0;
}